<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendation</title>
    <link rel="stylesheet" type="text/css" href="static/flextest3.css">
    <h1>Sit Back and Enjoy These Fabulous Recommendations!</h1>
</head>
<body>
<p style="font-weight:bold;">Because you enjoyed {{movie_name}} we recommend:</p>
{%for i in posters[:5]%}
    {% set poster = posters[loop.index-1] %}
    {% set title = top_ten[loop.index-1] %}
    {% set id = ids[loop.index-1] %}
<div class="dropdown">
    <img src={{poster}} width="182" height="268">
    <div class="dropdown-content">
    {% if id[0] == 't'%}
    <a href="https://www.imdb.com/title/{{id}}" rel="noopener noreferrer" target="_blank"><img src={{poster}} width="273" height="402"></a>
    <div class="desc">{{title}}</div>
    {%else%}
    <a href="https://www.netflix.com/search?q={{title}}" rel="noopener noreferrer" target="_blank"><img src={{poster}} width="273" height="402"></a>
    <div class="desc">{{title}}</div>
    {%endif%}
    </div>
</div>

{%endfor%}
<p style="color: #050a30;font-weight:bold;">{{message}}</p>
{%for movie in top_ten[5:]%}
    {% set id = ids[5:][loop.index-1] %}
    {% if id[0] == 't'%}
    <p><a href="https://www.imdb.com/title/{{id}}" rel="noopener noreferrer" target="_blank">{{movie}}</a></p>
    {%else%}
    <p><a href="https://www.netflix.com/search?q={{movie}}" rel="noopener noreferrer" target="_blank">{{movie}}</a></p>
    {%endif%}
    {%endfor%}
    <p><a href="/" class="button">Home</a></p>
</body>
</html>
