<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendation</title>
    <link rel="stylesheet" type="text/css" href="static/testpop.css">
    <h1>Sit Back and Enjoy These Fabulous Recommendations!</h1>
</head>
<style>
a {
    text-decoration:none;
    color: inherit;
}</style>
<body>
<p>Because you enjoyed {{movie_name}} we recommend:</p>
{%for i in posters[:5]%}
    {% set poster = posters[loop.index-1] %}
    {% set title = top_ten[loop.index-1] %}
    {% set id = ids[loop.index-1] %}
<div class="dropdown">
    <img src={{poster}} width="182" height="268">
    <div class="dropdown-content">
    <a href="https://www.imdb.com/title/{{id}}" rel="noopener noreferrer" target="_blank"><img src={{poster}} width="273" height="402"></a>
    <div class="desc">{{title}}</div>
    </div>
</div>

{%endfor%}
<p>{{message}}</p>
{%for movie in top_ten[5:]%}
    {% set id = ids[5:][loop.index-1] %}
<p><a href="https://www.imdb.com/title/{{id}}" rel="noopener noreferrer" target="_blank">{{movie}}</a></p>
{%endfor%}
<p><a href="/"><img src="static/hombutton-white-home-button-11563211148zdfdwfoi16.png" width="50")></a></p>
</body>
</html>

<a href="https://www.imdb.com/title/{{id}}" rel="noopener noreferrer" target="_blank"></a>